label { width: 94px; display: inline-block; text-align: right; font-size: 10px; }
input { width: 76% }
input[type=date] { width: auto}
input[type=submit] { background-color: lightgreen; width: auto; }
.halfwidth, #birthdate { width: 38%}
textarea { width: 100%; }
fieldset { display: inline-block; width: 425px; border: none; }
body { background-color: lightgray; }
h1, div { display: inline-block; }
#headername { width: auto; }
